## Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

*Objectives:*
* Listing the languages used for Data Science.
* Listing the libraries used for Data Science.
* Making Ordered lists.
* Making Table for listing tools used for Data Science.

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C/C++
4. R Programming

## Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|------------------|
|Python|
|Apache Spark|
|Hadoop|
|Scala|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [16]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Jitesh Rajpal